---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const articles = (await getCollection("article")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<html lang="en" class="">
  <head><BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} /></head>
  <body class="h-screen flex flex-col bg-background text-foreground">
    <Header />
    <main class="flex-1">
      <section class="max-w-2xl mx-auto">
        <h1 class="text-9xl">Articles</h1>
        <ul class="flex flex-col gap-4 w-full">
          {
            articles.map((article) => (
              <li>
                <a href={`/articles/${article.id}`}>{article.data.title}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
