@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-libre-franklin: "Libre Franklin", sans-serif;
  --color-primary: #3c3d37;
  --color-primary-foreground: #ecdfcc;
  --color-primary-accent: #869382;
  --color-background: #697565;
  --color-foreground: #181c14;
}

/* Transitions for theme switching */
.transition-colors {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
