---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en" class="">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="h-screen flex flex-col bg-background text-foreground">
    <Header />
    <main class="flex-1 max-w-7xl mx-auto px-4 md:px-8 py-8">
      <div class="flex flex-col w-full justify-center h-full">
        <div class="flex flex-col items-center mb-12">
          <h1 class="font-libre-franklin text-9xl sm:text-[12rem] font-thin">
            {`< />`}
          </h1>
        </div>

        <div
          class="flex flex-col sm:flex-row justify-between items-start gap-8 max-w-4xl mx-auto w-full"
        >
          <div class="px-4 sm:px-8 space-y-4">
            <p class="text-lg opacity-90">
              A collection of notes for personal reference.
            </p>
            <p class="text-sm opacity-75 max-w-md">
              Concepts, tutorials, and helpful resources curated for quick
              access and reference.
            </p>
          </div>
          <div class="ml-auto">
            <pre
              class="font-bold text-primary-accent">          ___
　　　  ／フ    フ
　　　　|  .   .|
　 　　／`ミ__xノ
　 　 /　　 　 |
　　 /　 ヽ　　ﾉ
　  │　　 | | |
／￣ 　　 | | |
| (￣ヽ_ヽ)_)__)
＼二つ</pre>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
