---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en" class="">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-background text-foreground flex h-screen flex-col">
    <Header />
    <main class="mx-auto max-w-7xl flex-1 px-4 py-8 md:px-8">
      <div class="flex h-full w-full flex-col justify-center">
        <div class="mb-12 flex flex-col items-center">
          <h1 class="font-libre-franklin text-9xl font-thin sm:text-[12rem]">
            {`< />`}
          </h1>
        </div>

        <div
          class="mx-auto flex w-full max-w-4xl flex-col items-start justify-between gap-8 sm:flex-row"
        >
          <div class="space-y-4 px-4 sm:px-8">
            <p class="text-lg opacity-90">
              A collection of notes for personal reference.
            </p>
            <p class="max-w-md text-sm opacity-75">
              Concepts, tutorials, and helpful resources curated for quick
              access and reference.
            </p>
          </div>
          <div class="ml-auto">
            <pre
              class="text-primary-accent font-bold">          ___
　　　  ／フ    フ
　　　　|  .   .|
　 　　／`ミ__xノ
　 　 /　　 　 |
　　 /　 ヽ　　ﾉ
　  │　　 | | |
／￣ 　　 | | |
| (￣ヽ_ヽ)_)__)
＼二つ</pre>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
