---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head><BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} /></head>
  <body class="h-screen flex flex-col">
    <Header />
    <main class="flex-1">
      <div>
        <h1>About!</h1>
      </div>
    </main>
    <Footer />
  </body>
</html>
