---
import { LuGithub } from "react-icons/lu";
import { PiLinkedinLogo } from "react-icons/pi";
import Link from "./Link.astro";
---

<footer class="px-8 py-8">
  <div class="mx-auto flex max-w-6xl items-center justify-end gap-4">
    <Link href="https://github.com/wjin17" external><LuGithub size={32} /></Link
    >
    <Link href="https://www.linkedin.com/in/willjin1796/" external
      ><PiLinkedinLogo size={32} /></Link
    >
  </div>
</footer>
