---
import { SITE_TITLE } from "../consts";
import Link from "./Link.astro";
---

<header class="px-8 py-8">
  <nav class="flex justify-end items-center max-w-6xl mx-auto">
    <Link href="/articles"><h2 class="text-foreground">Articles</h2></Link>
  </nav>
</header>
