---
import Link from "./Link.astro";
---

<header class="px-8 py-8">
  <nav class="mx-auto flex max-w-6xl items-center justify-end font-extralight">
    <Link href="/articles"><h2 class="text-foreground">Articles</h2></Link>
  </nav>
</header>
