---
interface Props {
  href: string;
  external?: boolean;
}

const { href, external = false } = Astro.props;
const linkProps = external
  ? { target: "_blank", rel: "noopener noreferrer" }
  : {};
---

<a
  href={href}
  {...linkProps}
  class="text-foreground hover:text-foreground/60 transition-colors duration-300 ease-in-out hover:underline"
>
  <slot />
</a>
