---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a
  class="text-primary hover:text-primary/60 underline"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
